MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-host>/
ATLAS_CLAIM_URL=https://account-dev.mongodb.com/account/register?claimId=<claim-id>
ATLAS_CLAIM_ID=<claim-id>
ATLAS_CLUSTER_ID=<cluster-id>
ATLAS_CLUSTER_EXPIRES_AT=<iso-8601-timestamp>
VOYAGE_API_KEY=<voyage-api-key>
